@page "/Delete/{personId:int}"

@inject PersonContext db
@inject NavigationManager nav

<h3>DeletePerson</h3>


<div>
    <label for="txtName">Name</label>

    <InputText id="txtName" class="form-control" @bind-Value="@person.PersonName"></InputText>

    <button class="btn btn-success" @onclick="DeletePerson">Delete</button>




</div>

@code {
    [Parameter]
    public int personId { get; set; }

    public Person person { get; set; } = new Person();

    protected override void OnInitialized()
    {
        person = db.Persons.Find(personId);
        base.OnInitialized();
    }

    public void DeletePerson()
    {
        db.Remove<Person>(person).State = Microsoft.EntityFrameworkCore.EntityState.Deleted;
        db.SaveChanges();
        nav.NavigateTo("/ppl");
    }

}
