@page "/ppl"

@inject PersonContext db

<h3>People Data</h3>
<div>
    <a href="/add-person">Create</a>
</div>

<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            
            <th>Operation</th>
            <th>Operation</th>
        </tr>
       
    </thead>

    <tbody>
        @foreach(Person person in people)
        {
            <tr>
                <td>@person.ID</td>
                <td>@person.PersonName</td>
                <td>
                   <a class="nav-link" href="/edit/@person.ID">EDIT</a>
                </td>
                <td>
                    <a class="nav-link" href="/Delete/@person.ID">Delete</a>
                </td>
            </tr>
        }
      

    </tbody>





</table>






@code {
    List<Person> people = new List<Person>();


    protected override async Task OnInitializedAsync()
    {
        people = db.Persons.ToList();
    }


}
